# Ejercicio de reposición

## Task 1.1

### Lectura de datos

In [259]:
import pandas as pd
import numpy as np

data = pd.read_csv('framingham.csv')
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

### Pequeña manipulación y exploración de datos

#### Resumen de datos

In [260]:
data.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4238.000000,4238.000000,4133.000000,4238.000000,4209.000000,4185.000000,4238.000000,4238.000000,4238.000000,4188.000000,4238.000000,4238.000000,4219.000000,4237.000000,3850.000000,4238.000000
mean,0.429212,49.584946,1.978950,0.494101,9.003089,0.029630,0.005899,0.310524,0.025720,236.721585,132.352407,82.893464,25.802008,75.878924,81.966753,0.151958
std,0.495022,8.572160,1.019791,0.500024,11.920094,0.169584,0.076587,0.462763,0.158316,44.590334,22.038097,11.910850,4.080111,12.026596,23.959998,0.359023
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,89.875000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

#### Ver balanceo de dataset

In [261]:
heart_attack = data['TenYearCHD']

# Existe un desbalanceo en el dataset
heart_attack.value_counts()

0    3594
1     644
Name: TenYearCHD, dtype: int64

#### Conteo de NAs

In [262]:
data.isna().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

#### Limpieza de NAs

In [263]:
data = data.dropna()

#### Normalización y escala de datos

In [264]:
from sklearn.preprocessing import StandardScaler

columns_to_normalize = ['cigsPerDay', 'totChol', 'sysBP', 'diaBP', 'BMI', 'heartRate', 'heartRate', 'glucose', 'education']

scaler = StandardScaler()

scaled_data = scaler.fit_transform(data[columns_to_normalize])
df_scaled = pd.DataFrame(scaled_data, columns=columns_to_normalize)
data = pd.concat([data.drop(columns_to_normalize, axis=1), df_scaled], axis=1)

data.head()

,male,age,currentSmoker,BPMeds,prevalentStroke,prevalentHyp,diabetes,TenYearCHD,cigsPerDay,totChol,sysBP,diaBP,BMI,heartRate,heartRate,glucose,education
0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.757068,-0.949714,-1.193695,-1.078415,0.291688,0.356340,0.356340,-0.203127,1.975752
1,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.757068,0.297729,-0.514637,-0.159695,0.724614,1.608289,1.608289,-0.244956,0.019795
2,1.0,48.0,1.0,0.0,0.0,0.0,0.0,0.0,0.921174,0.184325,-0.220378,-0.243215,-0.109261,-0.060977,-0.060977,-0.495930,-0.958183
3,0.0,61.0,1.0,0.0,0.0,1.0,0.0,1.0,1.760294,-0.269291,0.798209,1.009584,0.687717,-0.895610,-0.895610,0.884427,0.997773
4,0.0,46.0,1.0,0.0,0.0,0.0,0.0,0.0,1.172910,1.091556,-0.107202,0.090864,-0.660258,0.773656,0.773656,0.131505,0.997773

#### Eliminación de variables

In [265]:
data = data.dropna()

y = data['TenYearCHD']
y = y.to_numpy()
X = data.drop('TenYearCHD', axis=1)

# Se eliminó educación porque reduce la eficacia del modelo.
X = X.drop('education', axis=1)

## Task 1.2

### Ajuste de modelo de regresión logística polinomial

#### División de data de entrenamiento y prueba

##### Oversampling

In [266]:
from imblearn.over_sampling import SMOTE

# Se realizó un oversampling debido al desbalanceo de datos.
oversampler = SMOTE(random_state=0)

X, y = oversampler.fit_resample(X, y)

##### Selección de datos de entrenamiento y prueba

In [267]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234)

#### Fit de la regresión logística polinomial

In [268]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
import numpy as np

poly = PolynomialFeatures(degree=1)
X_train = poly.fit_transform(X_train)
X_test = poly.fit_transform(X_test)

model = LogisticRegression(random_state=1234)
model.fit(X_train, y_train)

prediction = model.predict(X_test)

f1_score(prediction, y_test)

0.6847414880201765

## Task 1.4

### Uso de cross-validation y parameter tunning para grado de polinomio

In [134]:
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
import warnings

warnings.filterwarnings("ignore")

pipeline = Pipeline([
    ('poly', PolynomialFeatures()),
    ('logistic', LogisticRegression(max_iter=500))
])


param_grid = {'poly__degree': [1, 2, 3, 4, 5]}
grid_search = GridSearchCV(pipeline, param_grid=param_grid, cv=5, scoring='f1')

grid_search.fit(X_train, y_train)

print("Best polynomial degree:", grid_search.best_params_['poly__degree'])
print("Best mean cross-validated F1 score:", grid_search.best_score_)

Best polynomial degree: 1
Best mean cross-validated F1 score: 0.7028644437374193

## Task 1.5 Análisis de hallazgos